
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.nav_links{
    display: flex;              /* makes items horizontal */
    z-index: 1000;
    justify-content: center;    /* centers the items */
    gap: 30px;                  /* space between items */
    list-style: none;           /* removes bullets */
}
.section{
    padding: 60px;
    text-align: center; /* Here, text-align is used istead of justify content because it is neither flex nor container */
}
.iPhone{
    font-size: 80px;
    margin-bottom: 1px;
    margin-left: 20px;
}
.image_division{
    display: flex;
    gap: 40px;
    padding: 20px 40px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.image_division {
      scrollbar-width: none; /* Hides the scrollbar */
    }

.iphone_card{
    min-width: 120px;
    text-align: center;
    flex-shrink: 0;
    cursor: pointer;
}

.iphone_card img{
    height: 140px;
    margin-bottom: 10px;
}

.title{
    font-size: 14px;
    font-weight: 600;
}

.new{
    color: #ff6a00;
    font-size: 12px;
    font-weight: 500;
}

.explore{
    font-size: 40px;
    margin-bottom: 1px;
    margin-left: 20px;
}

.explore-lineup {
  margin: 60px auto;
  text-align: center;
}
.lineup-cards{
      scrollbar-width: none;
}
.explore-lineup h2 {
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 600;
}
  
.lineup-cards {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: center;
  scroll-behavior: smooth;
}

.lineup-card {
  width: 240px;
  text-align: center;
  flex-shrink: 0;
}

.image-box {
  width: 100%;
  height: 260px;
  border-radius: 24px;
  background: #ffffff;
  overflow: hidden;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.image-box img {
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.product-title {
  font-size: 18px;
  margin: 8px 0;
  font-weight: 500;
}

.learn-more {
  display: inline-block;
  color: #0071e3;
  font-size: 14px;
  font-weight: 600;
}
.compare{
    text-align: right;
    padding-right: 100px;
}
.compare_models{
    text-align: center;
    background-color: #ff6a00;
}
.take_a_closer_look{
    display: grid;
    background-color: #e4e6da;
    align-items: center;
    justify-content: center;
    margin: 60px;
    height: 400px;
    width: 1000px;

}

.line-up_shops{
     width: 240px;
     margin-left: 20px;
  text-align: center;
  flex-shrink: 0;
}

.image_box_shops{
    width: 100%;
  height: 260px;
  border-radius: 24px;
  background: #ffffff;
  overflow: hidden;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-box_shops img {
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.terms_and_conditions{
    margin: 60px;
}

